
.esri-map {
    font-family: 'Nunito', sans-serif;
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 500px;
    width: 500px;
    background: #111111;
    position: relative;
    display: inline-block;
}

.esri-boundingbox {
    font-family: 'Nunito', sans-serif;
    height: 22px;
    width: 115px;
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 10;
}

.esri-zoombox {
    font-family: 'Nunito', sans-serif;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    top: 85px;
    left: 21px;
    text-align: center;
    border: black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    opacity: 0.9;
    font-weight: bold;
}

.p-bounding-box {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    display: inline-block;
    width: 0px;
    font-weight: bold;
}

core-icon[icon="check-box-outline-blank"] {
    color: #111111;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

input {
    border-radius: 2px;
    opacity: 0.65;
    color: #000001;
    border:none;
}

.esriPopupWrapper { 
    font-family: 'Nunito', sans-serif !important;
}